@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,800;1,800&display=swap');

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"),
        url("../fonts/Lato-Regular.woff") format("ttf"),
        url("../fonts/Lato-Regular.woff") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    src: local("Lato Semibold"),
        url("../fonts/Lato-Semibold.woff") format("ttf"),
        url("../fonts/Lato-Semibold.woff") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"),
        url("../fonts/Lato-Bold.woff") format("woff"),
        url("../fonts/Lato-Bold.woff") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    src: local("Lato Heavy"),
        url("../fonts/Lato-Heavy.woff") format("woff"),
        url("../fonts/Lato-Heavy.woff") format("woff2");
}
