.btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: .3s ease;

    &:focus {
        outline: none;
    }

    &__bars {
        display: block;
        position: relative;
        width: 5rem;
        height: 0.3rem;
        background-color: var(--color-accent, #42a9ed);
        transition: .3s;

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-accent, #42a9ed);
            transition: .3s;
        }

        &:before {
            transform: translate(0, -1rem);
        }

        &:after {
            transform: translate(0, 1rem);
        }
    }

    .menu-open & {

        .btn-menu__bars {
            background-color: transparent;

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}
