@use "scss/utils/mixins" as *;

.form-order {
    display: grid;
    grid-auto-flow: row;
    gap: 3.6rem;

    @include breakpointMF(laptop) {
        gap: 5.5rem;
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        gap: 2.6rem;

        @include breakpointMF(laptop) {
            gap: 4.4rem;
        }
    }

    &__item {
        flex: 1 1 auto;
        min-height: 5rem;

        &.form-order__item--small {
            flex-basis: 100%;

            @include breakpointMF(laptop) {
                flex-basis: calc(100% / 3 - (4.4rem * 2 / 3));
            }
        }

        &.form-order__item--big {
            flex-basis: 100%;

            @include breakpointMF(laptop) {
                flex-basis: calc((100% / 3 * 2) - (4.4rem * 2 / 3));
            }
        }
    }

    &__submit {
        width: 100%;
        max-width: 40rem;
        justify-self: center;
    }
}
