@use "scss/utils/mixins" as *;

.format-item {
    position: relative;

    min-height: 200px;
    padding: 17px 0 22px 34px;

    color: var(--color-bronze, #ee725e);

    background-color: var(--color-latte, #fff8e7);
    box-shadow: 1px 1px 9px 0 rgba(105, 72, 33, 0.20);
    border-radius: 0.8rem;

    @include breakpointMF(laptop) {
        padding: 2.3rem 1rem 3.4rem;
    }

    &__body {
        display: flex;
        align-items: stretch;
        gap: 0;

        width: 100%;
        height: 100%;

        &.format-item__body--reverse {
            @include breakpointMF(laptop) {}

            .format-item__heading {
                @include breakpointMF(laptop) {
                    margin-left: unset;
                }
            }

            .format-item__list {
                @include breakpointMF(laptop) {
                    margin-left: unset;
                }
            }

            .format-item__image {
                @include breakpointMF(laptop) {
                    left: unset;
                    right: 0;
                }

                img {
                    @include breakpointMF(laptop) {
                        transform: translate(-33%, 0);
                    }
                }
            }
        }
    }

    &__image {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 47%;
        height: 100%;

        img {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 100%;
            max-height: 120%;
            transform: translate(-70%, 0%);
            object-fit: contain;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        flex: 0 0 100%;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        margin-bottom: 1.6rem;

        @include breakpointMF(laptop) {
            margin-left: 15.4rem;
        }
    }

    &__name {
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 96%;

        @include breakpointMF(laptop) {
            font-size: 2.6rem;
        }
    }

    &__desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 96%;

        @include breakpointMF(laptop) {
            font-size: 1.8rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-block: auto;
        margin-left: 11rem;
        padding-left: 0.5ch;

        list-style-type: none;

        @include breakpointMF(laptop) {
            margin-left: 17rem;
        }

        &>li {
            display: inline-flex;

            font-size: 16px;
            font-weight: 600;
            line-height: 120%;

            &::before {
                display: block;
                margin-right: 2px;
                content: "\00A0\2022\00A0";
            }

            @include breakpointMF(laptop) {
                font-size: 2rem;
            }
        }
    }
}
