@use "scss/utils/mixins" as *;

.form-loader {
    position: relative;

    display: grid;
    place-items: center;
    min-height: 100%;

    background: #FFF;
    border-radius: 3px;
    border: 2px solid #3E9CDC;


    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        width: 100%;
        padding: 1.2rem;
        background-color: rgba(255, 255, 255, 0.1);

        transition: box-shadow var(--transition);
        cursor: pointer;

        .icon {
            width: 1.7rem;
            height: 2rem;
        }

        span {
            color: var(--color-bg-2, #272733);
            font-family: inherit;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            outline: none;
        }

        @include hover {
            box-shadow: inset 0 0 5px var(--color-accent-2, #42a9ed);
        }
    }
}
