@use "scss/utils/mixins" as *;

.gift-section {
    position: relative;
    padding-block: 85px 89px;

    color: var(--color-bronze, #ee725e);

    @include breakpointMF(laptop) {
        padding-block: 5rem 4.8rem;
    }

    &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;

        height: 32rem;
        background: rgba(254, 240, 152, 1);
        content: "";

        @include breakpointMF(laptop) {
            height: 43rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;

        @include breakpointMF(laptop) {
            align-items: stretch;
            gap: 2rem;
            margin-inline: 4rem;
        }
    }

    &__image {
        position: relative;
        flex: 1 1 100%;
        margin-inline: calc(var(--content-padding) * -1);

        @include breakpointMF(laptop) {
            margin-inline: 9.3rem;
        }

        img {
            display: block;
            width: 100%;

            object-position: center;
            border-radius: 0 0 8px 8px;

            @include breakpointMF(laptop) {
                border-radius: 0 0 0.8rem 0.8rem;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpointMF(laptop) {
            padding-bottom: 3rem;
        }
    }

    &__title {
        max-width: 19ch;

        color: var(--color-bronze, #ee725e);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 96%;
        text-align: center;

        @include breakpointMF(laptop) {
            max-width: 35ch;
            font-size: 2.8rem;
        }

        strong {
            font-weight: 900;
        }
    }

    &__link {
        max-width: 163px;
        margin-top: 12px;

        @include breakpointMF(laptop) {
            margin-top: 3rem;
        }
    }

    &__face {
        position: absolute;
        top: -40%;
        right: -0%;

        @include breakpointMF(laptop) {
            top: -10%;
            right: -10%;
        }

        img {
            width: 100px;
            height: 100px;

            @include breakpointMF(laptop) {
                width: 21rem;
                height: 21rem;
            }
        }
    }

    &__back {
        position: absolute;
        inset: 0;
        pointer-events: none;

        img {
            position: absolute;
            top: 50%;
            left: 50%;

            display: block;
            width: 85%;
            transform: translate(-50%, -50%);

            object-fit: contain;
            object-position: center;
        }
    }
}
