@use "scss/utils/mixins" as *;

.lead-section {
    position: relative;

    &__site-container {
        position: relative;
        z-index: 300;
    }

    &__body {
        position: relative;
        overflow: hidden;
        padding-block: 18rem 4.5rem;

        @include breakpointMF(laptop) {
            margin-left: 45%;
            padding-block: 8.1rem 14.4rem;
        }
    }

    &__title {
        width: min-content;
        margin-bottom: 6px;

        color: var(--color-bronze, #ee725e);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 96%;

        @include breakpointMF(tablet) {
            width: 100%;
            text-align: center;
        }

        @include breakpointMF(laptop) {
            margin-bottom: 4rem;
            text-align: left;
            font-size: 6.5rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 13px 11px;

        max-width: 100%;

        @include breakpointMF(tablet) {
            max-width: 35rem;
            margin-inline: auto;
        }

        @include breakpointMF(laptop) {
            max-width: 60rem;
            margin-inline: unset;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1rem;

        flex: 1 1 auto;

        &:nth-child(3) {
            .lead-section__item-icon {
                &>svg {
                    @include breakpointMF(laptop) {
                        width: 7.5rem;
                        height: 6.5rem;
                    }
                }
            }
        }
    }

    &__item-icon {
        display: grid;
        place-items: center;
        flex-shrink: 0;

        &>svg {
            display: block;
            width: 4rem;
            height: 3.4rem;

            @include breakpointMF(laptop) {
                width: 8.6rem;
                height: 7.5rem;
            }
        }
    }

    &__item-text {
        color: var(--color-olive, #babd71);

        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 96%;

        @include breakpointMF(laptop) {
            font-size: 3.5rem;
        }
    }

    &__picture {
        @include breakpointMF(laptop) {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 42%;
            max-height: 100%;
            overflow: hidden;
        }

        img {
            display: block;
            width: 100%;

            object-fit: contain;
            object-position: center;
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        left: 20%;

        transform: translate(0, 50%);
    }

    &__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100;

        @include breakpointMF(laptop) {
            top: 5rem;
            right: 0;
            bottom: -10rem;
        }

        img {
            display: block;
            width: 100%;
            margin-inline: auto;

            object-fit: contain;
            object-position: center;

            @include breakpointMF(laptop) {
                height: 90%;
            }
        }
    }
}
