.link {
    display: block;

    color: var(--color-white, #fff);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;

    transition: color var(--transition);
}
