@use "scss/utils/mixins" as *;

.logo {
    min-height: 2.6rem;

    text-decoration: none;
    white-space: nowrap;

    &__text {
        color: var(--color-white, #fff);
        font-size: 2rem;
        font-family: var(--font-family-second);
        font-style: normal;
        font-weight: 800;
        letter-spacing: 0.04em;
        line-height: normal;
        text-transform: uppercase;

        &.logo__text--accent {
            color: var(--color-accent-2, #42a9ed);
        }

        @include breakpointMF(laptop) {
            font-size: 2.8rem;
        }
    }

    @include breakpointMF(laptop) {
        min-height: 3.5rem;
    }
}
