@use "scss/utils/mixins" as *;

.menu {
    display: flex;
    align-items: center;
    gap: 7rem;

    &__link {
        &.menu__link--active {
            color: var(--color-accent-2, #42a9ed);
        }

        &:not(.menu__link--active) {

            @include hover {
                color: var(--color-accent-2, #42a9ed);
            }
        }
    }
}
