@use "scss/utils/mixins" as *;

.offer-section {
    padding-block: 43px 49px;
    color: var(--color-bronze, #ee725e);

    @include breakpointMF(laptop) {
        padding-block: 5rem;
    }

    &__form {
        margin-bottom: 5rem;
    }

    &__title {
        margin-bottom: 0.8rem;

        @include breakpointMF(laptop) {
            margin-bottom: 1.5rem;
        }
    }

    &__subtitle {
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 96%;

        @include breakpointMF(laptop) {
            font-size: 2rem;
        }

        &.offer-section__subtitle--light {
            color: var(--color-latte, #fff8e7);
        }

        &.offer-section__subtitle--red {
            color: var(--color-bronze, #ee725e);
        }

        &.offer-section__subtitle--olive {
            color: var(--color-olive, #babd71);
        }

        &.offer-section__subtitle--max-width {
            max-width: 52ch;
            margin-inline: auto;
            font-size: 1.6rem;

            @include breakpointMF(laptop) {
                font-size: 2rem;
            }
        }
    }

    &__inputs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.1rem;

        margin-top: 2.2rem;

        @include breakpointMF(laptop) {
            margin-top: 2.5rem;
            margin-inline: 21.8rem;
            gap: 2.4rem 2rem;
        }
    }

    &__inputs-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        flex: 1 1 100%;

        @include breakpointMF(laptop) {
            flex: 1 1 30rem;
        }
    }

    &__label {
        padding-left: 0.8rem;

        color: var(--color-bronze, #ee725e);
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 96%;

        @include breakpointMF(laptop) {
            padding-left: 1.2rem;
            font-size: 1.5rem;
            line-height: 96%;
        }
    }

    &__input-wrapper {
        width: 100%;
        height: 3.2rem;
        margin-top: 0.3rem;

        @include breakpointMF(laptop) {
            margin-top: 0.5rem;
        }

        &:has(input[type="date"]) {
            position: relative;

            &::after {
                position: absolute;
                top: 50%;
                right: 0.7rem;

                display: block;

                width: 2.5rem;
                height: 2.5rem;
                transform: translateY(-50%) rotate(0deg);

                background-image: url("data:image/svg+xml, %3Csvg%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.44461%204.67773H18.9281C20.0317%204.67773%2021.0901%205.11614%2021.8705%205.89651C22.6508%206.67688%2023.0892%207.73528%2023.0892%208.83889V19.2418C23.0892%2020.3454%2022.6508%2021.4038%2021.8705%2022.1842C21.0901%2022.9645%2020.0317%2023.4029%2018.9281%2023.4029H6.44461C5.341%2023.4029%204.28259%2022.9645%203.50222%2022.1842C2.72185%2021.4038%202.28345%2020.3454%202.28345%2019.2418V8.83889C2.28345%207.73528%202.72185%206.67688%203.50222%205.89651C4.28259%205.11614%205.341%204.67773%206.44461%204.67773ZM6.44461%206.75831C5.8928%206.75831%205.3636%206.97752%204.97341%207.3677C4.58323%207.75788%204.36403%208.28709%204.36403%208.83889V19.2418C4.36403%2019.7936%204.58323%2020.3228%204.97341%2020.713C5.3636%2021.1032%205.8928%2021.3224%206.44461%2021.3224H18.9281C19.4799%2021.3224%2020.0091%2021.1032%2020.3993%2020.713C20.7895%2020.3228%2021.0087%2019.7936%2021.0087%2019.2418V8.83889C21.0087%208.28709%2020.7895%207.75788%2020.3993%207.3677C20.0091%206.97752%2019.4799%206.75831%2018.9281%206.75831H6.44461Z%22%20fill%3D%22%23FFF8E7%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M3.32373%2010.9195C3.32373%2010.6436%203.43333%2010.379%203.62842%2010.1839C3.82352%209.9888%204.08812%209.87919%204.36402%209.87919H21.0087C21.2846%209.87919%2021.5492%209.9888%2021.7442%2010.1839C21.9393%2010.379%2022.0489%2010.6436%2022.0489%2010.9195C22.0489%2011.1954%2021.9393%2011.46%2021.7442%2011.6551C21.5492%2011.8502%2021.2846%2011.9598%2021.0087%2011.9598H4.36402C4.08812%2011.9598%203.82352%2011.8502%203.62842%2011.6551C3.43333%2011.46%203.32373%2011.1954%203.32373%2010.9195ZM8.52518%202.59717C8.80108%202.59717%209.06568%202.70677%209.26077%202.90186C9.45587%203.09695%209.56547%203.36156%209.56547%203.63746V7.79862C9.56547%208.07452%209.45587%208.33912%209.26077%208.53421C9.06568%208.7293%208.80108%208.83891%208.52518%208.83891C8.24928%208.83891%207.98467%208.7293%207.78958%208.53421C7.59449%208.33912%207.48489%208.07452%207.48489%207.79862V3.63746C7.48489%203.36156%207.59449%203.09695%207.78958%202.90186C7.98467%202.70677%208.24928%202.59717%208.52518%202.59717ZM16.8475%202.59717C17.1234%202.59717%2017.388%202.70677%2017.5831%202.90186C17.7782%203.09695%2017.8878%203.36156%2017.8878%203.63746V7.79862C17.8878%208.07452%2017.7782%208.33912%2017.5831%208.53421C17.388%208.7293%2017.1234%208.83891%2016.8475%208.83891C16.5716%208.83891%2016.307%208.7293%2016.1119%208.53421C15.9168%208.33912%2015.8072%208.07452%2015.8072%207.79862V3.63746C15.8072%203.36156%2015.9168%203.09695%2016.1119%202.90186C16.307%202.70677%2016.5716%202.59717%2016.8475%202.59717Z%22%20fill%3D%22%23FFF8E7%22%2F%3E%0A%3Cpath%20d%3D%22M8.52516%2014.0403C8.52516%2014.3162%208.41556%2014.5808%208.22047%2014.7759C8.02537%2014.971%207.76077%2015.0806%207.48487%2015.0806C7.20897%2015.0806%206.94437%2014.971%206.74927%2014.7759C6.55418%2014.5808%206.44458%2014.3162%206.44458%2014.0403C6.44458%2013.7644%206.55418%2013.4998%206.74927%2013.3047C6.94437%2013.1096%207.20897%2013%207.48487%2013C7.76077%2013%208.02537%2013.1096%208.22047%2013.3047C8.41556%2013.4998%208.52516%2013.7644%208.52516%2014.0403ZM8.52516%2018.2014C8.52516%2018.4773%208.41556%2018.742%208.22047%2018.937C8.02537%2019.1321%207.76077%2019.2417%207.48487%2019.2417C7.20897%2019.2417%206.94437%2019.1321%206.74927%2018.937C6.55418%2018.742%206.44458%2018.4773%206.44458%2018.2014C6.44458%2017.9255%206.55418%2017.6609%206.74927%2017.4659C6.94437%2017.2708%207.20897%2017.1612%207.48487%2017.1612C7.76077%2017.1612%208.02537%2017.2708%208.22047%2017.4659C8.41556%2017.6609%208.52516%2017.9255%208.52516%2018.2014ZM13.7266%2014.0403C13.7266%2014.3162%2013.617%2014.5808%2013.4219%2014.7759C13.2268%2014.971%2012.9622%2015.0806%2012.6863%2015.0806C12.4104%2015.0806%2012.1458%2014.971%2011.9507%2014.7759C11.7556%2014.5808%2011.646%2014.3162%2011.646%2014.0403C11.646%2013.7644%2011.7556%2013.4998%2011.9507%2013.3047C12.1458%2013.1096%2012.4104%2013%2012.6863%2013C12.9622%2013%2013.2268%2013.1096%2013.4219%2013.3047C13.617%2013.4998%2013.7266%2013.7644%2013.7266%2014.0403ZM13.7266%2018.2014C13.7266%2018.4773%2013.617%2018.742%2013.4219%2018.937C13.2268%2019.1321%2012.9622%2019.2417%2012.6863%2019.2417C12.4104%2019.2417%2012.1458%2019.1321%2011.9507%2018.937C11.7556%2018.742%2011.646%2018.4773%2011.646%2018.2014C11.646%2017.9255%2011.7556%2017.6609%2011.9507%2017.4659C12.1458%2017.2708%2012.4104%2017.1612%2012.6863%2017.1612C12.9622%2017.1612%2013.2268%2017.2708%2013.4219%2017.4659C13.617%2017.6609%2013.7266%2017.9255%2013.7266%2018.2014ZM18.9281%2014.0403C18.9281%2014.3162%2018.8185%2014.5808%2018.6234%2014.7759C18.4283%2014.971%2018.1637%2015.0806%2017.8878%2015.0806C17.6119%2015.0806%2017.3473%2014.971%2017.1522%2014.7759C16.9571%2014.5808%2016.8475%2014.3162%2016.8475%2014.0403C16.8475%2013.7644%2016.9571%2013.4998%2017.1522%2013.3047C17.3473%2013.1096%2017.6119%2013%2017.8878%2013C18.1637%2013%2018.4283%2013.1096%2018.6234%2013.3047C18.8185%2013.4998%2018.9281%2013.7644%2018.9281%2014.0403ZM18.9281%2018.2014C18.9281%2018.4773%2018.8185%2018.742%2018.6234%2018.937C18.4283%2019.1321%2018.1637%2019.2417%2017.8878%2019.2417C17.6119%2019.2417%2017.3473%2019.1321%2017.1522%2018.937C16.9571%2018.742%2016.8475%2018.4773%2016.8475%2018.2014C16.8475%2017.9255%2016.9571%2017.6609%2017.1522%2017.4659C17.3473%2017.2708%2017.6119%2017.1612%2017.8878%2017.1612C18.1637%2017.1612%2018.4283%2017.2708%2018.6234%2017.4659C18.8185%2017.6609%2018.9281%2017.9255%2018.9281%2018.2014Z%22%20fill%3D%22%23FFF8E7%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                pointer-events: none;

                // opacity: 0.4;
                transition: transform var(--transition);
                content: "";
            }
        }

        &>textarea,
        &>input {
            width: 100%;
            height: 100%;

            padding: 0.8rem 1rem;

            border: none;
            outline: none;

            color: var(--color-latte, #fff8e7);
            font-family: Montserrat;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;

            background-color: var(--color-olive, #babd71);
            border-radius: 0.8rem;
            box-shadow: 1px 1px 4px 0 rgba(105, 72, 33, 0.20);

            @include breakpointMF(laptop) {
                padding: 1rem 1.2rem;
            }

            @include placeholder() {
                color: var(--color-latte, #fff8e7);
                font-family: Montserrat;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:focus {
                transition: background-color 0s 600000s, color 0s 600000s !important;
            }
        }

        &>input[type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
        }

        &>textarea {
            height: 8rem;
            font: inherit;
            resize: none;
        }

        &:has(textarea) {
            height: auto;
        }
    }

    &__btn {
        margin-top: 1.5rem;

        @include breakpointMF(laptop) {
            margin-top: unset;
        }

        &[disabled] {
            display: none;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 3.5rem;

        margin-top: 2rem;

        @include breakpointMF(laptop) {
            flex-direction: row;
            gap: 2.5rem;

            margin-top: 4rem;
        }
    }

    &__tarriffs-item {

        @include breakpoint(small-mobile) {
            margin-inline: calc(var(--content-padding, 2.8rem) * -1);
            padding-inline: var(--content-padding, 2.8rem);
        }

        @include breakpointMF(laptop) {
            flex: 1 1 calc(100% / 3 - (2.5rem * 2 / 3));
        }
    }

    &__link {
        max-width: 19.4rem;
        margin-top: 3.5rem;
        margin-inline: auto;

        @include breakpointMF(laptop) {
            max-width: calc(100% / 3 - (2.5rem * 2 / 3));
            margin-top: 5rem;
        }
    }
}
