@use "scss/utils/mixins" as *;

.order {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    min-height: 100dvh;

    color: var(--color-white, #fff);

    &__background {
        position: absolute;
        inset: 0;
        z-index: 100;
        overflow: hidden;

        img {
            display: block;
            min-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__body {
        position: relative;
        z-index: 200;

        display: grid;
        align-items: center;
        grid-auto-flow: row;
        gap: 5rem;
        padding-block: 6rem 8rem;

        @include breakpointMF(laptop) {
            gap: 9rem;
            padding-block: 13rem 15rem;
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;

        text-align: center;

        @include breakpointMF(laptop) {
            gap: 3rem;
        }
    }

    &__title {
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 800;
        letter-spacing: 0.05em;
        line-height: normal;
        text-transform: uppercase;

        em {
            font-style: normal;
            color: var(--color-accent, #42a9ed);
        }
    }

    &__subtitle {
        color: var(--color-text, #bbb);
        font-size: 1.8rem;
        font-style: normal;
        letter-spacing: 0.04em;
        font-weight: 400;
        line-height: normal;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 15rem;

        @include breakpointMF(laptop) {
            align-items: flex-start;
            flex-wrap: nowrap;
            gap: 3rem;
        }
    }

    &__item {
        flex: 1 1 100%;
        padding-inline: 1rem;

        &:not(:last-child) {
            position: relative;

            .stage__divider {
                top: 100%;
                left: 50%;
                display: block;
                transform: translate(-50%, 7rem) rotate(90deg);
            }
        }

        @include breakpointMF(laptop) {
            flex: 1 1 auto;

            &:not(:last-child) {
                position: relative;

                .stage__divider {
                    top: 5rem;
                    left: 100%;
                    display: block;
                    transform: translate(-35%, -50%);
                }
            }
        }
    }
}
