@use "scss/utils/mixins" as *;

.tarriff-item {
    position: relative;

    padding: 1.2rem 4rem 2.2rem;

    box-shadow: 1px 1px 9px 0 rgba(105, 72, 33, 0.20);
    border-radius: 0.8rem;

    &.tarriff-item--latte {
        color: var(--color-red, #ee725e);
        background-color: var(--color-latte, #fff8e7);
    }

    &.tarriff-item--bronze {
        color: var(--color-latte, #fff8e7);
        background-color: var(--color-red, #ee725e);

        .format-item__button {
            color: var(--color-red, #ee725e);
            background-color: var(--color-latte, #fff8e7);
        }

        .tarriff-item__item {
            &.tarriff-item__item--off {
                &::before {
                    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Cpath%20d%3D%22M4.64094%208.73259C4.59017%208.6818%204.56165%208.61293%204.56165%208.54111C4.56165%208.4693%204.59017%208.40042%204.64094%208.34963L6.36453%206.62605L4.64094%204.90247C4.59161%204.85139%204.56431%204.78297%204.56493%204.71196C4.56554%204.64095%204.59403%204.57302%204.64424%204.52281C4.69446%204.47259%204.76238%204.44411%204.8334%204.44349C4.90441%204.44287%204.97282%204.47017%205.0239%204.51951L6.74748%206.24309L8.47107%204.51951C8.52215%204.47017%208.59056%204.44287%208.66157%204.44349C8.73258%204.44411%208.80051%204.47259%208.85073%204.52281C8.90094%204.57302%208.92942%204.64095%208.93004%204.71196C8.93066%204.78297%208.90336%204.85139%208.85402%204.90247L7.13044%206.62605L8.85402%208.34963C8.90336%208.40071%208.93066%208.46913%208.93004%208.54014C8.92942%208.61115%208.90094%208.67908%208.85073%208.72929C8.80051%208.77951%208.73258%208.80799%208.66157%208.80861C8.59056%208.80922%208.52215%208.78193%208.47107%208.73259L6.74748%207.00901L5.0239%208.73259C4.97311%208.78336%204.90424%208.81189%204.83242%208.81189C4.76061%208.81189%204.69173%208.78336%204.64094%208.73259Z%22%20fill%3D%22%23FFF8E7%22%2F%3E%0A%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.74748%2012.0427C9.7391%2012.0427%2012.1641%209.61764%2012.1641%206.62602C12.1641%203.63439%209.7391%201.20935%206.74748%201.20935C3.75585%201.20935%201.33081%203.63439%201.33081%206.62602C1.33081%209.61764%203.75585%2012.0427%206.74748%2012.0427ZM6.74748%2011.501C9.43983%2011.501%2011.6225%209.31837%2011.6225%206.62602C11.6225%203.93366%209.43983%201.75102%206.74748%201.75102C4.05512%201.75102%201.87248%203.93366%201.87248%206.62602C1.87248%209.31837%204.05512%2011.501%206.74748%2011.501Z%22%20fill%3D%22%23FFF8E7%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 100%;

        @include breakpointMF(laptop) {}
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;

        @include breakpointMF(laptop) {
            gap: 0.4rem;
        }
    }

    &__name {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 96%;
        text-align: center;

        @include breakpointMF(laptop) {
            font-size: 1.8rem;
        }
    }

    &__price {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 96%;
        text-align: center;

        @include breakpointMF(laptop) {
            font-size: 2.6rem;
        }
    }

    &__item {
        &.tarriff-item__item--off {
            opacity: 0.5;

            &::before {
                display: block;
                width: 13px;
                height: 13px;
                flex-shrink: 0;
                aspect-ratio: 1/1;

                background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2214%22%20viewBox%3D%220%200%2013%2014%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20d%3D%22M4.39345%209.5197C4.34267%209.46891%204.31415%209.40004%204.31415%209.32822C4.31415%209.25641%204.34267%209.18753%204.39345%209.13674L6.11703%207.41316L4.39345%205.68958C4.34411%205.6385%204.31682%205.57008%204.31743%205.49907C4.31805%205.42806%204.34653%205.36013%204.39675%205.30992C4.44696%205.2597%204.51489%205.23122%204.5859%205.2306C4.65691%205.22998%204.72533%205.25728%204.77641%205.30662L6.49999%207.0302L8.22357%205.30662C8.27465%205.25728%208.34307%205.22998%208.41408%205.2306C8.48509%205.23122%208.55302%205.2597%208.60323%205.30992C8.65345%205.36013%208.68193%205.42806%208.68255%205.49907C8.68316%205.57008%208.65587%205.6385%208.60653%205.68958L6.88295%207.41316L8.60653%209.13674C8.65587%209.18782%208.68316%209.25623%208.68255%209.32725C8.68193%209.39826%208.65345%209.46619%208.60323%209.5164C8.55302%209.56662%208.48509%209.5951%208.41408%209.59572C8.34307%209.59633%208.27465%209.56903%208.22357%209.5197L6.49999%207.79612L4.77641%209.5197C4.72562%209.57047%204.65674%209.599%204.58493%209.599C4.51311%209.599%204.44424%209.57047%204.39345%209.5197Z%22%20fill%3D%22%23EE725E%22%20%2F%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.49999%2012.8298C9.49162%2012.8298%2011.9167%2010.4048%2011.9167%207.41313C11.9167%204.4215%209.49162%201.99646%206.49999%201.99646C3.50837%201.99646%201.08332%204.4215%201.08332%207.41313C1.08332%2010.4048%203.50837%2012.8298%206.49999%2012.8298ZM6.49999%2012.2881C9.19234%2012.2881%2011.375%2010.1055%2011.375%207.41313C11.375%204.72077%209.19234%202.53813%206.49999%202.53813C3.80764%202.53813%201.62499%204.72077%201.62499%207.41313C1.62499%2010.1055%203.80764%2012.2881%206.49999%2012.2881Z%22%20fill%3D%22%23EE725E%22%20%2F%3E%0A%3C%2Fsvg%3E");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                content: "";
            }
        }
    }

    &__button {
        &.format-item__button {
            @include breakpointMF(laptop) {
                min-width: 18rem;
            }
        }
    }
}
