@use "scss/utils/mixins" as *;

.working-section {
    padding-block: 33px 51px;
    color: var(--color-bronze, #ee725e);
    background-color: var(--color-latte, #fff8e7);

    @include aspectRatio(desktop) {
        padding-block: 2.4rem 5.8rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 17px;

        @include aspectRatio(desktop) {
            margin-top: 4.1rem;
        }
    }

    &__item {
        flex: 0 1 50%;
    }

    &__red-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;

        margin-top: 16px;


        &.tarriff-item {
            padding: 12px 28px 29px;

            @include aspectRatio(desktop) {
                margin-top: 4.1rem;
                padding: 1.2rem 3rem 4.6rem;
            }
        }

        &>h5 {
            width: min-content;

            color: var(--color-latte, #fff8e7);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 96%;

            @include aspectRatio(desktop) {
                width: auto;
                font-size: 2.9rem;
            }
        }

        &>p {
            max-width: 25ch;

            color: var(--color-latte, #fff8e7);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 96%;
            text-align: center;

            @include aspectRatio(desktop) {
                max-width: unset;
                font-size: 2rem;
            }
        }
    }

    &__link {
        position: absolute;
        top: 100%;
        left: 50%;

        display: grid;
        place-content: center;
        place-items: center;
        min-width: 17.8rem;
        height: 3.2rem;
        padding: 1rem;
        transform: translate(-50%, -50%);

        color: var(--color-latte, #fff8e7);
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
        text-decoration: none;

        background-color: #939653;
        box-shadow: 2px 2px 6px rgba(97, 61, 25, 0.25);
        border-radius: 0.8rem;

        border: none;
        outline: none;
        cursor: pointer;

        @include breakpointMF(laptop) {
            min-width: 37rem;
            height: 5.5rem;
            font-size: 2.1rem;

            border-radius: 1.6rem;
        }
    }

    &__title {
        margin-bottom: 0.5rem;

        @include breakpointMF(laptop) {
            margin-bottom: 0.8rem;
        }
    }
}
