@use "scss/utils/mixins" as *;

.working-item {
    display: flex;
    align-items: flex-start;

    &__body {
        padding-top: 0.7rem;

        @include breakpointMF(laptop) {
            padding-top: 1.4rem;
        }
    }

    &__name {
        margin-bottom: 5px;

        color: #939653;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 96%;

        @include breakpointMF(laptop) {
            margin-bottom: 0.1rem;
            font-size: 2rem;
        }
    }

    &__text {
        max-width: 37ch;
        color: #939653;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 96%;

        @include breakpointMF(laptop) {
            font-size: 1.6rem;
        }
    }

    &__counter {
        flex-shrink: 0;
        width: 4.2rem;
        font-size: 4rem;
        font-family: Montserrat;
        font-weight: 900;
        line-height: 96%;
        text-align: center;

        @include breakpointMF(laptop) {
            width: 7.2rem;
            font-size: 6rem;
        }
    }
}
